# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
csx
Publish
packages
BundleArtifacts
AppPackages

.vs

*.log
*.xap
*.user
*.suo
*.cache
*.wadcfg
*.ide
*.bidx
*.lock.json

/GeneratedReports
